# Do not add ExternalData module staging files
.ExternalData*

# back-up files
*~
*.bak
*.sw*
*#

# Luc's Vim spell files
code-symbols-spell.utf-8.add
code-symbols-spell.utf-8.add.spl
ignore.utf-8.add
ignore.utf-8.add.spl

# Vim tags
tags

# KWStyle hook output
*.kws

# compiled python files
*.pyc

# Binary directory
BUILD/*
build/*
_build/

# Directory where autosummary files are generated
docs/api

#data
data/Output/*.tif
*.tif
*.nc
*.gtx

# qtcreator
CMakeLists.txt.user*

# kdevelop
*.kdev*
.kdev*

# back-up files when conflicts occur
*.orig
*.save

# S1Tiling byproducts and python packaging
*.log
dask-worker-space
tmp/
public/
.cache/
.config/
*egg-info/
dist/
.gdb_history
report.xml
Pipfile
Pipfile.lock
