# Do not add ExternalData module staging files
.ExternalData*

# back-up files
*~
*.bak
*.sw*
*#

# KWStyle hook output
*.kws

# compiled python files
*.pyc

# Binary directory
BUILD/*
build/*
_build/

#data
data/Output/*.tif
*.tif
*.nc
*.gtx

# qtcreator
CMakeLists.txt.user*

# kdevelop
*.kdev*
.kdev*

# back-up files when conflicts occur
*.orig
*.save

# S1Tiling byproducts and python packaging
*.log
dask-worker-space
tmp/
public/
.cache/
.config/
*egg-info/
dist/
