include README.md LICENSE requirements-dev.txt requirements.txt
include *.md
recursive-include docs/                        *.rst
recursive-include s1tiling/resources/Geoid     *.grd*
recursive-include s1tiling/resources/shapefile *.dbf *.prj *.shp *.shx *.gpkg
include s1tiling/logging.conf.yaml
