# This specific requirement file is defined explicitly without
# gdal so the already installed version in xxx-base docker isn't
# overwritten with an incorrect version coming from s1tiling wheel.
#
# It's important the version of GDAL Python bindind matches GDAL version
# that comes with OTB; not the version used when S1Tiling wheel has been
# created.
click
dask[distributed]
eodag<4
graphviz
numpy<2
objgraph
portion
pympler
pyyaml
rtree
# Temporary workaround: https://github.com/h2non/jsonpath-ng/issues/216
# TODO: remove in s1tiling 2.0
jsonpath-ng<1.8
